{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <link href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.min.css' %}" rel="stylesheet" />
    <title>{% block title %}Default title{% endblock title %}</title>
  </head>
  <body>
    {% include "Header.html" %}
    <script src="{% static "jquery-3.7.1.min.js" %}"></script>
    <script src="{% static "js.cookie.min.js" %}"></script>
    <script src="{% static "jquery.serializeJSON.js" %}"></script>
    {% block content %}Not enough content{% endblock content %}
    <script src="{% static "bootstrap-5.0.2-dist/js/bootstrap.min.js" %}" ></script>
  </body>
</html>
